.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dropdown {
  width: 200px;
  height: 40px;
  font-size: 30px;
}
button {
  background-color: #ed6c33;
  color: white;
  font-size: 25px;
  margin-left: 20px;
  border-radius: 7px;
  margin-top: 14px;
}
.card {
  width: 80%;
  margin-left: 10%;

  margin-right: 10%;
  margin-top: 10%;
}
.chart {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
.title {
  font-variant-caps: all-small-caps;
  color: #ed6c33;
}
